@import "../../theme.scss";
.page-container {
    // padding: 25px 50px 50px;
    // width: calc(100% - 75px);
    height: 100%;
    // padding: 60px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.page-header-wrapper,
.toolbars-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.page-header {
    text-align: left;
    float: left;
    width: 50%;
}
.page-title {
    color: $secondary;
    font-weight: 700;
    margin-bottom: -2px;
    font-size: 2.125rem;
    margin-top: 15px;
}
.page-subtitle {
    font-size: 1rem;
    // margin-bottom: -3px;
    // color: #717274;
    // font-weight: 200;
    color: $labelText;
    padding: 0.5rem 0;
    margin: 0 0 -3px;
}
.search-header {
    float: right;
    width: 30%;
}
.search-inputBox {
    text-indent: 30px !important;
}
.search-box {
    position: relative;
    .icon-search:before {
        content: "<i class=" icon-search icon "></i>";
        position: absolute;
        left: 0;
    }
}
.search-inputBox::placeholder {
    // padding-left: 20px;
    font-style: italic !important;
    color: #717274;
}
._addAsset-search-inputBox::placeholder {
    color: #717274;
}
.search-box {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 40px;
    .search-btn {
        border-radius: 3px !important;
        cursor: pointer;
        padding: 3px 10px;
        border: 0 none;
        outline: none;
        font-weight: 300;
        font-size: 10px;
        position: absolute;
    }
}

.collection-toolbar {
    width: 50%;
    float: left;
    .toolbars {
        display: flex;
        align-items: center;
        margin-top: 30px;
        justify-content: space-between;
        width: 35%;
    }
    .toolbar-tab {
        color: $primaryColor;
        font-weight: 600;
        font-size: 11px;
        // width: 10%;
        cursor: pointer;
    }
    .separator {
        width: 1px;
        background: #dbdbdb;
        height: 15px;
    }
}
.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    position: relative;
    left: 19px;
}

.down {
    transform: rotate(45deg);
    cursor: pointer;
    -webkit-transform: rotate(45deg);
}
.sort-by {
    position: relative;
    font-weight: 400;
    font-size: 0.75em;
    color: #000000;
    cursor: pointer;
}
.sort-by:before,
.sort-by:after {
    border: 4px solid transparent;
    content: "";
    // display: block;
    height: 0;
    right: -3px;
    top: 50%;
    position: absolute;
    width: 0;
}
.sort-by:before {
    border-bottom-color: #666;
    margin-top: -9px;
}
.sort-by:after {
    border-top-color: #666;
    margin-top: 1px;
}
.sort-action-toolbar {
    float: right;
    position: relative;
    width: 40%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    height: 45px;
    padding-right: 60px;
}
.hr-tag {
    background: #dbdbdb;
    margin: 0px;
    border: none;
    border-width: 1px !important;
    border-bottom: #dbdbdb !important;
    height: 1px;
    margin-top: 8px;
}
.buttons-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 15px;
    margin-left: -10px;
}
.cards-wrapper {
    display: flex;
    align-items: center;
    flex-flow: wrap;
}
.cards-collection {
    width: 120px;
    margin-right: 3%;
    height: 140.004px;
    background: #ffffff;
    background-position: 50%;
    background-size: cover;
    border: 0 none;
    border-radius: 10px;
    box-shadow: 0 0 2px rgb(0 0 0 / 40%);
    margin-top: 45px;
    margin-bottom: 20px;
    position: relative;
    transition: all 0.3s;
    .addnew-img {
        width: 100%;
        height: 140px;
        border-radius: 10px;
    }
    .addnew-img.default {
        height: 40px;
        width: 40px;
    }
    .card-box {
        height: 140px;
        width: 120px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    .card-box:hover {
        box-shadow: 4px 4px 4px #dbdbdb;
        border-radius: 10px;
    }
    input:focus {
        border: none;
        outline: none;
    }
}
.cards-collection.hide-transition,
.cards-collection.hide-transition:hover {
    background: #fff;
    transform: unset;
    box-shadow: unset;
}
.cards-collection:hover {
    // box-shadow: 0 0 20px rgb(0 0 0 / 10%);
    background: #fff;
    transform: translateY(-10px);
    box-shadow: 0 11px 22px rgb(0 0 0 / 15%);
    // top: -5px;
}
.card-name {
    // line-height: 20px;
    width: 100%;
    font-size: 0.75rem;
    text-align: center;
    color: #000000;
    margin-top: 15px;
}
.addCollection-wrapper {
    display: flex;
    align-items: center;
    width: 60%;
    margin-top: 10px;
    .e-input-group {
        width: 35% !important;
        font-size: 12px;
        min-width: 280px !important;
    }
    .addcollection-input {
        font-size: 12px;
        min-width: 280px !important;
    }
    .create-cltn-btn {
        color: $primaryColor;
        font-size: 11px;
        outline: none;
        border: none;
        background: none;
        font-weight: 600;
        padding: 0;
        cursor: pointer;
        margin-left: 10px;
        margin-right: 10px;
    }
    .cancel-cltn-btn {
        cursor: pointer;
        color: #717274;
        font-size: 11px;
        outline: none;
        border: none;
        background: none;
        font-weight: 600;
        padding: 0;
    }
}
.chip-class {
    border-color: transparent;
    color: rgba(0, 0, 0, 0.87);
    margin: 0 0.14285714em;
    padding: 0.5833em 0.833em;
    text-transform: none;
    font-weight: 400;
    border-radius: 0.4rem !important;
    transition: background 0.1s ease;
    font-size: 0.75em;
    background: #ffffff !important;
    border: 1px solid #dbdbdb !important;
    margin-bottom: 4px;
    cursor: pointer;
}
.chip-class:hover,
.e-chip-list.e-selection .e-chip.e-active {
    color: $primaryColor !important;
    border: 1px solid $primaryColor !important;
}
.e-chip-list .e-chip.e-outline {
    border-color: $primaryColor;
    border-width: 1px;
}
.toolbars-wrapper.info {
    justify-content: flex-end;
    font-size: 0.725rem;
    color: #000000;
    font-weight: 400;
    .toolbars {
        display: flex;
        align-items: center;
        margin-top: 26px;
        justify-content: flex-end;
        width: 100%;
    }
}
.small-btn {
    border-radius: 3px !important;
    cursor: pointer;
    padding: 3px 10px;
    border: 0 none;
    outline: none;
    font-weight: 300;
    font-size: 10px;
    margin-left: 5px;
}
.empty-list-box {
    text-align: center;
    cursor: pointer;
}
.empty-list-text1 {
    font-weight: 500;
    text-align: center;
    color: #000000;
    margin-top: 10px;
    font-size: 1rem;
}
.empty-list-text2 {
    font-weight: 300;
    color: #717274;
    font-size: 1rem;
    margin-top: 10px;
}

.check-box-modify {
    margin-top: 5px;
    padding-left: 5px;
    transform: scale(0.76);
}
//clone collection style
.cs-hd {
    font-size: 1.375em;
    font-weight: 700;
    margin: 0;
    color: #000;
    padding: 40px 0;
}

.clone-icon {
    width: 100px;
    height: 115px;
    margin: 0 auto;
    img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }
}
.clone-title {
    text-align: center;
    font-size: 0.875em;
    font-weight: 400;
    line-height: 1.5em;
    color: #000;
    margin: 18px 0 0;
}

.clone-form {
    padding: 0 40px;
    text-align: left;
    p {
        color: #000;
        font-size: 0.8em;
    }
}

.clone-panel-wrap,
.delete-panel-wrap {
    .slide-content-container {
        width: 30% !important;
        .count {
            color: #000;
            font-size: 12px;
        }

        .delete-title {
            color: #000;
            font-size: 13px;
            margin-top: 20px;
        }
        .delete-collection-img {
            width: 140px;
            height: 160px;
            border-radius: 5px;
            margin-top: 30px;
        }
        .delete-collection-name {
            color: #000;
            margin-top: 10px;
            padding-left: 10px;
            font-size: 12px;
        }
        .collection-wrapper {
            width: 100%;
            display: flex;
            flex-flow: wrap;
            .individual-collection {
                margin-right: 3%;
                cursor: pointer;
            }
        }
    }
}
.delete-panel-wrap {
    .control-section {
        text-align: left;
        padding: 40px 40px;
    }
    .cs-hd,
    .delete-title {
        text-align: left;
        padding: 0;
        padding-top: 10px;
    }
}
.edit-collection {
    width: 100%;
    border: 0 none;
    background: #dbdbdb !important;
    outline: none;
    font-weight: 400;
    font-size: 0.7rem;
    border-radius: 6px;
    height: 20px;
    resize: none;
    overflow: hidden;
    text-align: center;
    padding: 10px;
}
.uncategorized-container {
    padding: 30px;
    .uncategorized-header {
        color: #000;
        width: 5%;
        display: flex;
        align-items: center;
        cursor: pointer;
        justify-content: start;
        text-transform: uppercase;
    }
    .header-text {
        text-align: left;
        // margin-left: 20px;
        font-size: 22px;
        color: #333;
        font-weight: 600;
    }
    .subtext {
        text-align: left;
        font-size: 16px;
        color: #333;
        font-weight: 500;
    }
    .collection-list-table {
    }
}
