.email-input-wrap {
    width: 100%;
    display: flex;
    padding-bottom: 10px;
    border-bottom: 1px solid #000;
    margin-top: 0.8em;
    input {
        width: 100%;
    }
    label, span {
        padding-right: 10px;
        color: #000;
    }
    label {
        font-weight: bold;
    }
    span {
        cursor: pointer;
    }
    .input:focus {
        border-color: cornflowerblue;
        outline: none;
      }    
      
}
.tag-item {
    background-color: #d4d5d6;
    font-size: 14px;
    border-radius: 30px;
    height: 30px;
    padding: 0 4px 0 1rem;
    display: inline-flex;
    align-items: center;
    margin: 0.8em 0.3rem 0.3rem 0;
    float: left;
  }
  
  .tag-item > .button {
    background-color: white;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    font: inherit;
    margin-left: 10px;
    font-weight: bold;
    padding: 0;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

      
  .input.has-error {
    border-color: red;
  }
  
  .error {
    margin: 0;
    font-size: 90%;
    color: red;
  } 