#rounded-container{
    position: relative;
    height: calc(100vh);
    display: flex !important;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: rgb(0 0 0 / 33%);
    z-index: 2;
}