.booking-container {
    width: 95%;
    border: 1px solid var(--text-color-level3, rgba(26, 26, 26, 0.1));
    border-radius: 8px;
    box-shadow: 0 1px 8px 0 rgb(0 0 0 / 8%);
    height: 550px;
    min-height: 550px;
    max-width: 800px;
    position: relative;
}
.rightside-panel ::before,
.rightside-panel ::after {
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: #505960;
    transition: all 0.1s ease-in;
    content: "";
}
.rightside-panel ::before {
    top: 0;
    left: 0;
}
.rightside-panel ::after {
    right: 0;
    bottom: 0;
}
.rightside-panel-ribbon {
    position: absolute;
    top: -5px;
    right: -5px;
    z-index: 1;
    width: 105px;
    height: 105px;
    overflow: hidden;
    text-decoration: none;
    transition: all 0.1s ease-in;
    pointer-events: none;
    will-change: transform;
    .branding {
        position: relative;
        top: 21px;
        left: -11px;
        z-index: 1;
        display: block;
        width: 160px;
        padding: 9px 0 6px 0;
        color: #ffffff;
        font-weight: bold;
        line-height: 1.2;
        text-align: center;
        text-decoration: none;
        background-color: #505960;
        box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
        transform: rotate(45deg);
        transition: all 0.1s ease-in;
        pointer-events: auto;
    }
    .calendly-text {
        margin-left: -7px;
        color: #ffffff;
        font-size: 14px;
    }
    .poweredby-text {
        margin-left: -7px;
        color: #dbdbdb;
        font-size: 8px;
        text-transform: uppercase;
    }
}
.side-panel {
    display: flex;
    flex-direction: column;
    width: 50%;
    min-width: 300px;
    height: 100%;
    border-right: 1px solid var(--text-color-level3, rgba(26, 26, 26, 0.1));
    transition: all 0.22s ease-out;
}

.rightside-panel {
    flex: 1 1 50%;
    width: 50%;
    transition: all 0.22s ease-out;
}
.calendly-wrapper {
    flex: 1 1 auto;
    padding-right: 5%;
    padding-left: 5%;
    margin-top: 66px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    .profile-pic {
        border: 5px solid var(--container-background-color, #ffffff);
        box-shadow: 0 1px 8px rgb(0 0 0 / 30%);
        width: 65px;
        height: 65px;
        margin-bottom: 10px;
        border-radius: 50%;
        margin-top: -40px;
        margin-left: 20px;
    }
    .username {
        margin: 0 0 3px;
        color: var(--text-color-level2, rgba(26, 26, 26, 0.6));
        font-weight: bold;
        font-size: 16px;
        line-height: 24px;
        padding-right: 10px;
        padding-left: 30px;
        margin-top: 10px;
    }
    .sub-heading {
        padding-right: 10px;
        padding-left: 30px;
        margin-top: 10px;
        padding-bottom: 10px;
        margin: 0;
        font-weight: bold;
        font-size: 26px;
        line-height: 32px;
    }
    .duration-text {
        color: var(--text-color-level2, rgba(26, 26, 26, 0.6));
        font-weight: bold;
        padding-right: 10px;
        padding-left: 30px;
        margin-top: 10px;
        // padding-bottom: 10px;
        i {
            margin-top: -1px;
            margin-right: 10px;
            font-size: 20px;
        }
    }
    .video-conference {
        color: var(--text-color-level2, rgba(26, 26, 26, 0.6));
        font-weight: bold;
        padding-right: 10px;
        padding-left: 30px;
        margin-top: 15px;
        // padding-bottom: 10px;
        i {
            margin-top: -1px;
            margin-right: 10px;
            font-size: 20px;
        }
    }
    .comment-text {
        margin: 0;
        padding-right: 10px;
        padding-left: 30px;
        font-size: 16px;
        font-family: "Proxima Nova", sans-serif;
        line-height: 1.5;
        padding-top: 20px;
    }
}
.side-panel-header {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 148px;
    padding-bottom: 25px;
    border-bottom: 1px solid var(--text-color-level3, rgba(26, 26, 26, 0.1));

    img {
        max-height: 60px;
    }
}
