@import "../../theme.scss";

._collectionpdf_container {
    ._collectionpdf_header {
        display: flex;
        justify-content: space-between;
        box-shadow: 0px 4px 9px #ccc;
        padding: 0.5em 1em;
        align-items: center;

        ._collectionpdf_pdfName {
            color: $black;
            text-align: left;

            .title {
                font-size: 1rem;
            }

            .desc {
                font-size: 0.7rem;
                font-style: italic;
                margin-top: 5px;
            }
        }
    }

    ._collectionPdf_navList {
        color: #0ba2e3;
        font-size: 11px;
        font-weight: bold;
        display: flex;
        justify-content: space-between;

        p {
            margin-left: 20px;
            cursor: pointer;
        }
        a,
        a:hover {
            text-decoration: none;
            color: #0ba2e3;
        }
    }
}
.mt2 {
    margin-top: 2em;
}

.collection-icons {
    margin-right: 4px;
    font-size: 12px;
}
.pdf-share-calender-wrap {
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 2em;
}

.pdf-share-calender-wrap i {
    clear: both;
    display: block;
    padding-bottom: 2em;
    font-size: 1.5em;
    cursor: pointer;
}

.more-option-wrap {
    position: absolute;
    z-index: 11111;
    right: 10px;
    border: 1px solid var(--secondarySeparatorColor);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
    text-align: left;
    background: #fff;
    top: 35px;
    padding: 8px 0;
    p {
        padding: 8px 15px;
        text-transform: uppercase;
        margin: 0 !important;
    }
    p:hover {
        background: rgb(11 162 227 / 10%);
    }
}
.edit-assets-wrap {
    width: 100%;
    float: left;
    padding: 30px;
    box-sizing: border-box;
    height: calc(100vh - 40px);
    overflow-y: scroll;
    .analytics-image{
        justify-content: flex-start;
        align-items: center;
    }
    ._1YY7 label {
        font-weight: 500;
        padding-right: 5px;
        margin: 0;
        color: #000;
        float: left;
        padding-left: 10px;
    }
    ._1YY7 a {
        font-weight: 500;
        color: #0ba2e3;
    }
    ._2vkE {
        text-align: left;
        font-size: .6875em;
        color: #0ba2e3;
        font-weight: 600;
        cursor: pointer;
        position: relative;
        margin-top: 10px;
        padding-left: 10px;
    }
    ._2vkE .fa {
        font-size: 1.3em;
        vertical-align: baseline;
        padding-right: 5px;
        cursor: pointer;
    }
    ._2vkE input {
        width: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        opacity: 0;
        cursor: pointer;
    }
    .input-wrap .name-title {
        color: #000;
    }
    .name-title-pad10 {
        padding-top: 10px;
    }
    
} 
.collection-dropdown-wrapper {
    .turnon-template-heading {
        font-size: 1.625rem;
        font-weight: 700;
        margin-bottom: 0;
        line-height: 1em;
        color: #000;
        margin: 0 0 10px;
    }
    .template-subheading {
        font-size: 0.875rem;
        display: block;
        color: #000;
        line-height: 0.9em;
        margin: 0 0 10px;
    }
    .e-accordion .e-tgl-collapse-icon::before {
        content: "\e823";
    }
    .e-accordion .e-acrdn-header-content {
        margin-left: 15px;
    }
    .e-accordion .e-acrdn-item.e-select.e-selected.e-expand-state > .e-acrdn-header > .e-toggle-icon,
    .e-accordion .e-acrdn-item.e-select.e-expand-state > .e-acrdn-header > .e-toggle-icon {
        color: #0ba2e3 !important;
    }
    .e-accordion .e-acrdn-item .e-acrdn-header .e-toggle-icon {
        position: absolute;
        right: 16px;
        top: 0;
        left: 0;
    }
    .e-accordion .e-tgl-collapse-icon.e-expand-icon::before {
        content: "\e934";
    }
    .e-accordion .e-acrdn-item.e-select.e-expand-state > .e-acrdn-header .e-acrdn-header-content {
        color: #0ba2e3;
        // font-weight: 600;
        font-size: 15px;
        // border: none;
    }
    .e-accordion,
    .e-accordion .e-acrdn-item.e-expand-state.e-select {
        border: none !important;
        margin-top: 20px;
    }
    .collection-item-wrapper {
        // padding: 0 35px;
        // margin-top: -20px;
        // .collection-item {
        //     i {
        //         padding-right: 10px;
        //     }
        //     width: 100%;
        //     text-align: left;
        //     margin-top: 10px;
        //     .e-checkbox-wrapper.e-wrapper.search-choices {
        //         float: right;
        //     }
        // }
    }
}
.tab-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0px;
    .my-stream-header,
    .my-collection-header {
        width: 50%;
        text-align: center;
        font-size: 0.875em;
        border: 0 none;
        cursor: pointer;
        color: #a9a9a9;
    }
    .wrapper.active {
        background: none;
        font-weight: 600;
        width: calc(50% - 20px);
        border-bottom: 1px solid #000;
        color: #000;
        padding: 10px;
        font-size: 0.875em;
    }
}
.collection-dropdown-wrapper {
    text-align: left;
    // .e-treeview .e-list-item.e-active > .e-text-content {
    //     color: #0ba2e3 !important;
    // }
    // .e-treeview .e-list-item.e-active > .e-text-content {
    //     color: #0ba2e3 !important;
    // }
    .e-treeview .e-list-item.e-active > .e-text-content .e-list-text {
        color: #0ba2e3;
    }
    .treeview-wrapper {
        overflow-y: auto;
        height: 400px !important;
        width: 100%;
    }
    .addcollection {
        .e-treeview .e-ul {
            padding: 0px;
        }
    }
    .collection-container {
        overflow-y: auto;
        height: 500px;
    }
}
