._create-temp-main {
    display: flex;
    height: 100vh;

    ._temp-name-wrap {
        width: 30%;
        background: #edeef1;
        padding: 2em;
        box-sizing: content-box;

        .back-btn {
            text-align: left;
            color: #000;
            cursor: pointer;
            font-size: 14px;
        }

        .title {
            font-size: 1.1rem;
            font-weight: bold;
            color: black;
            text-align: left;
            padding: 1em 0;
        }
    }
    .owner-wrap{
        .e-grid{
            border-color: transparent !important;
        }
        .e-grid .e-gridheader{
            background-color: transparent;
        }
        th.e-headercell{
            background: #edeef1;
            color: #000;
        }
        td.e-rowcell.e-templatecell{
            background: #2b2b2b;
            color: #fff;
        }
    }

    ._temp-create-wrap{
        // width: 70%;
        padding: 2em;
        .add-title{
            text-align: right;
            color: #db4437;
            font-size: 12px;
            cursor: pointer;
        }
    }
}

.addAsset-collection-wrap {
    .slide-content-container {
        width: 70% !important;
        height: 100vh;
        transition: width 1s;

    }
}
.default-settings{
    display: flex;
    width: 70%;
    justify-content: space-between;
    .public-wrap{
        display: flex;
        padding: 1em 0;
        .title{
            font-size: 12px;
            text-align: left;
            color: #000;
            margin-right: 1em;
        }
    }
}
.editor-wrap{
    .title{
        font-size: 13px;
        color: #000;
        text-align: left;
        padding: 1em 0;
    }
}
.action-wrap{
    background: #fff;
    display: flex;
    color: #000;
    padding: 1em 0;
    justify-content: flex-end;
    border-top: 2px solid #ccc;
    margin-top: 1em;
    position: absolute;
    width: 55%;
    bottom: 0px;
    .create{
        font-size:14px;
        color: #db4437;
        margin-right: 1em;
        cursor: pointer;
    }
    .cancel{
        font-size:14px;
        cursor: pointer;
    }
}