.email-request-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 50px 20px; */
    border-radius: 20px;
    z-index: 2;
    box-shadow: 0 -2px 10px 5px rgb(0 0 0 / 15%);
    height: 400px;
    background: #fff !important;
    max-width: 270px;
    padding: 30px;
    margin-left: 100px;
}
.overall-wrapper {
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100%;
}
p.label-hd {
    font-weight: 500;
    margin-bottom: 5px;
}
.continue-btn {
    margin-top: 30px;
    float: right;
    font-size: 0.875em;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 20px;
}
.image-wrapper {
    padding: 20px 0 30px;
}
.image-pos {
    object-position: left;
    width: auto;
    height: 50px;
}
.get-email-form {
    .e-float-input.e-control-wrapper {
        margin-top: 30px !important;
    }
}
// .anonymous-emailAddress{
//     margin-top: 10px;
// }
.content-wrapper {
    color: #fff;
    position: relative;
    left: 30px;
}
.asset-name-hd,
.desc-text {
    background: rgba(0, 0, 0, 0.75);
    padding: 4px 0;
    border-radius: 2px;
    box-shadow: 4px 0 0 rgb(0 0 0 / 75%), -4px 0 0 rgb(0 0 0 / 75%);
    width: -webkit-fit-content;
    width: -moz-fit-content;
    margin-top: 10px;
    width: fit-content;
}
.asset-name-hd {
    font-size: 2.5rem;
}
.desc-text {
    font-size: 1.5rem;
}
._collectionpdf_container.crop-wrap {
    // position: fixed;
    width: 100%;
    // top: 0;
    // height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    // background: rgb(0 0 0 / 45%);
    // z-index: 1;
}

.crop-wrap .crop-container {
    height: 300px;
    width: 100%;
    margin: 0 auto;
    padding: 40px;
    background: #fff;
}

.crop-wrap .crop-container .crop-option-wrap {
    position: absolute;
    left: 0;
    background: #fff;
    height: 60px;
    .crop-option-zoom,.crop-option-rotate{
        line-height: 0;
        margin-top: 10px;
        p {
            color: black;
            padding-top: 10px;
        }
    }
}
