@import "../../theme.scss";
.sidecontentnav{
    .slide-content-wrap {
        position: fixed;
        width: 100%;
        left: 0;
        background: rgb(0 0 0 / 42%);
        height: 100vh;
        top: 0;
        z-index: 111;
    }
    
    .sidebar-menu-content.e-content-animation {
        position: relative;
        z-index: 1001;
        margin: 0 !important;
        width: 100% !important;
        overflow: hidden;
    }
    .slide-content-container {
        width: 50%;
        position: relative;
        height: 100vh;
        background: #fff;
        border-left: 5px solid $primaryColor;
    }
    .close-icon {
        position: absolute;
        right: -17px;
        top: 15px;
        cursor: pointer;
        color: #000;
        font-size: 32px;
    }
    .round {
        border-radius: 50%;
        border: 1px solid $primaryColor;
        width: 20px;
        height: 20px;
        display: flex;
        align-content: center;
        justify-content: center;
    }
    
    
}
.button-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    // padding-left: 40px;
    font-size: 20px;
    float: left;
    position: absolute;
    bottom: 0;
    padding: 20px 0;
    // width: calc(100% - 80px);
    width:40%;
    margin: 0 40px;
    border-top: 2px solid #ccc;
}
.preview-btn.confirm {
    display: flex;
    margin-right: 25px;
    color: $primaryColor;
    font-weight: 500;
    cursor: pointer;
    span {
        margin-right: 10px;
    }
}
.preview-btn.cancel {
    color: #a9a9a9;
    font-weight: 500;
    cursor: pointer;
}
.side-panel-desc {
    width: 100%;
    float: left;
    text-align: left;
    p {
        font-size: 14px;
        line-height: 1;
        margin: 0;
        text-align: left;
        // padding: 15px 0;
        color: #000;
    }
}

.side-panel-hd h1 {
    margin: 0;
    font-size: 30px;
    text-align: left;
    color: #000;
    padding-bottom: 20px;
}

.side-panel-hd span {
    font-size: 0.5em;
    text-align: left;
}

.side-panel-hd {
    text-align: left;
}

.side-panel-email{ 
    padding-bottom: 40px;
    text-align: left;
    h1 {
        font-size: 14px;
        font-weight: normal;
        margin-top: 15px;
        float: left;
        margin-right: 10px;
    }
    i {
        font-size: 14px;
    }
}