@import "../../theme.scss";
._collectionItem_container {
    width: 100%;
    ._collectionItem_img_container {
        background: url("../../Assets/images/_collectionItem_headerbg.jpeg");
        background-size: cover;

        ._collectionItem_texture {
            background: url("../../Assets/images/_collectionItem_texture.jpeg") repeat hsla(0, 0%, 100%, 0.4);

            background-size: cover;

            ._collectionItem_header {
                ._collectionItem_navPanel {
                    padding: 1em;
                    display: flex;
                    justify-content: space-between;

                    ._collectionItem_back {
                        cursor: pointer;
                        color: $buttonBg;
                        font-size: 12px;
                        font-weight: bold;
                    }
                }
            }

            ._collectionItem_contentBlock {
                padding: 0 1em;
                color: #212529;
                text-align: left;

                .title {
                    padding-bottom: 1em;
                    // font-weight: bold;
                    font-size: 1.5rem;
                }

                .desc {
                    font-size: 1rem;
                    width: 50%;
                    padding-bottom: 8em;
                }
            }
        }

        ._collectionItem_cardsWrap {
            margin-top: 0px;
            background: #fff;
            ._collectionItem_card_container {
                display: flex;

                .title {
                    font-weight: 400;
                    font-size: 0.875em;
                    color: #212529;
                    text-align: left;
                }

                .__collectionItem_cards_type {
                    font-size: 12px;
                    text-align: left;
                    width: 50%;
                }
            }
        }
    }
}
.section-tab-container .e-toolbar-items {
    padding: 10px;
}
p.__collectionItem_cards_type {
    font-size: 12px;
    text-align: left;
    // width: 15%;
    margin-right: 10px;
    opacity: 0.8;
}

p.__collectionItem_cards_size {
    font-size: 12px;
    text-align: left;
    width: 15%;
    opacity: 0.8;
}

.dFlex {
    display: flex;
}

.dFlexSB {
    display: flex;
    justify-content: space-between;
}

.share-collection {
    color: $primaryColor;
    font-size: 15px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.shareIconWrap {
    width: 40px;
    height: 40px;
    color: #fff;
    background: #0ba2e3;
    border-radius: 29px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    font-size: 20px;
}
.shredBy {
    font-size: 13px;
    margin-top: 5px;
}
.sharedby-wrap.collectionItem {
    .default-profile-picture {
        width: 70px;
        margin-top: -50px;
        position: relative;
        left: -15px;
        border: white;
        border-radius: 50%;
    }
}
.sharedby-wrap {
    margin-top: 60px;
    margin-right: 30px;
}
.f13 {
    font-size: 13px;
}
.nav-list-icon {
    font-size: 12px;
    // font-size: 1.3rem;
    vertical-align: baseline;
    padding-right: 5px;
    cursor: pointer;
}
.navlist-icon.urlimage {
    width: 20px;
}

._collectionItem_navList {
    color: $buttonBg;
    font-size: 12px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
        margin-left: 0px;
        margin-right: 15px;
        cursor: pointer;
    }
}

.editor-nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 1em 0;
}
.asset-content-box {
    display: flex;
    margin-right: 15px;
    .asset-img {
        width: 50px;
        height: 60px;
        border-radius: 5px;
        margin-right: 10px;
    }
    p {
        font-size: 12px;
        color: #000;
        margin-top: 10px;
    }
    .asset-metadata {
        font-size: 10px;
        color: #717274;
        font-style: italic;
        margin-top: 10px;
    }
}

.all.assets-content {
    justify-content: unset;
}

.resource-wrap-container {
    background: #edeef1;
    width: 100%;
    height: 100vh;
    color: #000;
    position: relative;
    display: table;
}
.resource-wrap {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.notfound-text {
    display: inline-block;
    h1 {
        padding-right: 30px;
        border-right: 3px solid #000;
        font-size: 7.5em;
        letter-spacing: 20px;
        font-weight: 700;
        text-transform: uppercase;
    }
}
.notfound-info {
    display: inline-block;
    padding-left: 30px;
    padding-bottom: 10px;
    text-align: left;
    vertical-align: text-bottom;
    p {
        border: none;
        padding: 0;
        font-size: 1em;
        letter-spacing: 0.5px;
        margin-bottom: 10px;
    }
}
