@import "react-image-crop/lib/ReactCrop.scss";
@import "../../theme.scss";
.turnon-template-heading {
    font-size: 1.625rem;
    color: #000000;
    font-weight: 700;
    padding-top: 30px;
}
#maintext .sidebar-menu-content {
    overflow-x: hidden !important;
}

.preview-container {
    // display: flex;
    text-align: left;
    padding: 30px;
    // height: calc(82vh - 30px);
}

.template-subheading {
    font-size: 0.85rem;
    margin-top: 20px;
    color: #000000;
    font-weight: 400;
    line-height: 20px;
}

.position {
    position: relative;
    background-color: #dbdbdb;
}

.templatepreview {
    .slide-content-container {
        width: 30% !important;
    }
}

.collaborate-wrap {
    .slide-content-container {
        width: 40% !important;
    }
}

.share-collection-wrap {
    .slide-content-container {
        width: 60% !important;
        height: 100vh;
        transition: width 1s;
    }
    .button-wrapper {
        width: 20%;
    }
    .button-wrapper.popup {
        width: calc(100% - 80px);
    }
}
.compose-collection-panel.share-collection-wrap{
    .button-wrapper {
        width: 48%;
        z-index: 1;
    }
}

.addAsset-collection-wrap {
    .slide-content-container {
        width: 70% !important;
        height: 100vh;
        transition: width 1s;
    }
}

.share-collection-wrap-wide {
    .slide-content-container {
        width: 95% !important;
        height: 100vh;
        transition: width 1s;
    }
}

.generate-link-wrap {
    .slide-content-container {
        width: 32% !important;
    }
}

.round {
    border-radius: 50%;
    border: 1px solid $primaryColor;
    width: 20px;
    height: 20px;
    display: flex;
    align-content: center;
    justify-content: center;
}

.button-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-top: 15px;
    font-size: 20px;
}

.preview-btn.confirm {
    display: flex;
    margin-right: 25px;
    color: $primaryColor;
    font-weight: 500;
    cursor: pointer;
    span {
        margin-right: 10px;
    }
}

.preview-btn.cancel {
    color: #a9a9a9;
    font-weight: 500;
}

.radio-group {
    // float: right;
    display: flex;
    float: left;
    width: 100%;
    margin-top: 15px;
    justify-content: flex-end;
}

.e-radio-wrapper.e-wrapper.radio-btn {
    padding-left: 10px;
    line-height: 15px;
}

.usersList-wrapper {
    display: flex;
}

.users-lists-wrap {
    margin-top: 20px;
}

.users-username {
    margin: 0;
    font-size: 15px;
    font-weight: 300;
    color: #000;
    text-align: right;
}

.usersList-wrapper {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: -5px;
}

.usersList-wrapper {
    border-bottom: 1px solid #dbdbdb;
    margin-top: 20px;
}

.personalize-link,
.anonymous-link,
.newcampaign-link {
    padding: 30px;
}

.personalize-link .title,
.anonymous-link .title,
.newcampaign-link .title {
    font-size: 1rem;
    text-align: left;
    color: #000;
    // padding: 30px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-weight: 600;
    position: relative;
}

.personalize-link .sub-title,
.anonymous-link .sub-title,
.newcampaign-link .sub-title {
    text-align: left;
    // padding: 30px;
    padding-top: 10px;
    font-size: 0.75rem;
    font-weight: 400;
    color: #000;
    line-height: 20px;
}

.anonymous-link {
    .link-title {
        position: absolute;
        right: 10px;
        color: $primaryColor;
        font-size: 0.75rem;
        font-weight: 600;
        top: 2px;
        cursor: pointer;
    }
}

.manage-link {
    padding: 30px;
    padding-top: 0px;
    color: $primaryColor;
    // font-size: 0.75rem;
    font-weight: 600;
    cursor: pointer;
    text-align: left;
    font-size: 0.95rem;

    span {
        padding-right: 10px;
    }
}

.text-box-link {
    position: relative;
    top: 10px;
}

.getlink-btn,
.getlink-btn:hover {
    background-color: transparent !important;
    border-color: transparent;
    color: $primaryColor !important;
    box-shadow: none !important;
    text-transform: capitalize;
    font-size: 12px;
    font-weight: 600;
    position: absolute;
    right: 0;
}

._share-inputs-wrap {
    padding: 0 30px;
}

.preview-share-wrap {
    width: 60%;
    box-shadow: 0px 0px 30px #ccc;
}

._compose-preview-share-wrap {
    // width: 60%;
    box-shadow: 0px 0px 30px #ccc;
    position: relative;

    .add-button-wrap {
        position: absolute;
        top: 20px;
        right: -20px;
        display: flex;
        justify-content: flex-end;

        .add-button {
            width: 40px;
            height: 40px;
            background: $primaryColor;
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 34px;
            box-shadow: 0 0 12px $primaryColor;
            cursor: pointer;
        }

        .attach-doc {
            font-size: 0.8rem;
            color: $primaryColor;
            margin-right: 10px;
            text-align: right;
        }
    }
}

._share-assets-wrap {
    width: 60%;
    background: #edeef1;
    padding: 2em 0;

    .title-wrap {
        .pad1 {
            padding: 1em 0;
        }
    }
}

._share_dflex {
    display: flex;
    width: 100%;
}

._share-assets-wrap {
    height: 91vh;

    .e-accordion .e-acrdn-item.e-select > .e-acrdn-header {
        text-align: left;
        padding-left: 2em;
    }

    .e-accordion .e-acrdn-item .e-acrdn-header .e-acrdn-header-content {
        font-size: 16px;
        color: $primaryColor !important;
    }

    .e-accordion {
        background: transparent;
        border: none;
    }

    .e-accordion .e-acrdn-item .e-acrdn-header .e-toggle-icon .e-tgl-collapse-icon.e-icons {
        display: none;
    }

    .e-accordion .e-acrdn-item .e-acrdn-panel {
        background: #edeef1;
    }

    .cards-wrap {
        padding: 0 1em;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .width45 {
        width: 45%;
    }

    .mb1 {
        margin-bottom: 1em;
    }

    .cardContBg {
        background: #edeef1;
    }

    .basicPtag {
        text-align: left;
        // padding: 0 2em;
        padding: 0 2rem;
        width: 80%;
        font-size: 1.2rem;
        line-break: anywhere;
    }
}

._share_advanced_settings {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 1em;

    .title {
        font-size: 0.75rem;
        color: #000;
        text-align: left;
        padding: 1em 0;
        display: flex;
        justify-content: space-between;
    }

    .edit-block {
        ._share-radio-group {
            display: flex;
            justify-content: space-between;
            padding: 1em 0;

            .e-radio-wrapper.e-wrapper.radio-btn {
                padding-left: 0px;
            }
        }

        .warning-text {
            font-size: 12px;
            opacity: 0.5;
            text-align: left;
        }
    }

    .setpasswordWrap {
        .e-accordion .e-acrdn-item.e-selected > .e-acrdn-panel .e-acrdn-content {
            padding: 1em 0;
        }

        .e-accordion .e-acrdn-item.e-select > .e-acrdn-header {
            text-align: left;
            padding: 0px;
        }

        .e-accordion .e-acrdn-item .e-acrdn-header .e-acrdn-header-content {
            font-size: 12px;
            color: #000 !important;
            width: 100%;
        }

        .e-accordion {
            background: transparent;
            border: none;
        }

        .e-accordion .e-acrdn-item .e-acrdn-header .e-toggle-icon .e-tgl-collapse-icon.e-icons {
            display: none;
        }

        .e-accordion .e-acrdn-item .e-acrdn-panel {
            background: #edeef1;
        }
    }
}

.toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ad-input {
    .e-accordion .e-acrdn-item.e-selected > .e-acrdn-panel .e-acrdn-content {
        padding: 1em 0;
    }
}

._share-body-content {
    padding: 30px;
    height: calc(100vh - 40%);
    display: flex;
    overflow-y: auto;
    box-sizing: border-box;
    .side-panel-desc {
        width: 100%;
        float: left;
        text-align: left;
        // padding: 1em;
        box-sizing: border-box;

        p {
            font-size: 14px;
            line-height: 1;
            margin: 0;
            text-align: left;
            color: #000;
            padding: 0px;
        }
    }
}

._share-template-select {
    display: flex;
    font-size: 12px;
    justify-content: flex-end;
    padding: 1em 2em;
    color: $primaryColor;

    p {
        margin-left: 10px;
        margin-right: 5px;
    }
}

._share-template-select {
    p {
        cursor: pointer;
    }
}

._share-template-Selection {
    width: 400px;
    padding: 2em 2em;
    border-right: 1px solid #000;
    position: relative;
    transition: width 1s;
    text-align: center;
}

.close-icon-cross {
    position: absolute;
    right: -16px;
    top: 15px;
    cursor: pointer;
    color: black;
    background: #fff;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.no-template-img {
    width: 70%;
    padding-top: 2em;
}

.content-block {
    font-size: 1rem;

    .talk-less {
        color: black;
        padding-bottom: 1em;
    }

    .desc {
        color: #717274;
        padding: 0 3em;
    }

    .email-temp {
        margin-top: 1em;
        color: #fff;
        font-size: 12px;
        padding: 1em;
        line-height: 20px;
    }
}

.no-assets-wrap {
    padding: 1em 2em;

    .vacant {
        font-size: 0.9rem;
        opacity: 0.8;
        width: 74%;
        padding-bottom: 0.7em;
        text-align: left;
    }

    .desc {
        // font-size: 0.8rem;
        // opacity: 0.6;
        // width: 74%;
        text-align: left;
        color: #717271 !important;
        // width: 74%;
        // padding: 63px 30px 20px 15px;
        // font-size: 0.9rem;
        // font-weight: 300;
        // line-height: 18px;
        width: 90%;
        padding: 63px 30px 20px 15px;
        font-size: 0.9rem;
        font-weight: 300;
        line-height: 18px;
        padding: 63px 0px;
    }
}

._attach-template-Selection {
    width: 400px;
    padding: 4em 2em;
    border-right: 1px solid #000;
    position: relative;
    transition: width 1s;
    text-align: center;

    .back-btn {
        text-align: left;
        cursor: pointer;
    }

    .attach-assets {
        color: #000;
        font-size: 1.3rem;
        padding: 2em 0;
    }
}

.add-assets-wrap {
    display: flex;
    align-items: center;
    padding: 1em 0;
    border-bottom: 1px solid #000;

    .desc-wrap {
        padding: 0 3em;
        text-align: left;
        width: 80%;

        .title {
            font-size: 1.1rem;
            font-weight: 600;
        }

        .desc {
            font-size: 0.8rem;
            opacity: 0.5;
            padding-top: 0.5em;
            color: #717274;
        }
    }

    .add-btn {
        color: $primaryColor;
        width: 50%;
        cursor: pointer;

        .e-file-drop {
            display: none;
        }

        .e-upload.e-control-wrapper.e-lib.e-keyboard {
            border: none;
        }

        button.e-css.e-btn {
            box-shadow: none;
            background: transparent;
            color: $primaryColor;
            font-size: 0.8rem;
        }

        .e-upload .e-upload-files {
            position: absolute;
            right: -45%;
            width: 250px;
            top: 15%;
        }
    }
}

.add-assets-wrap:last-child {
    border-bottom: none;
}

._addAsset-main-wrap {
    width: 100%;
    // padding: 4em 5em !important;
    font-size: 15px;
    // width: 100%;
    // width: 45%;
    width: 65%;
    padding: 2rem 3rem;
    color: #000;
}

._upload-from-stream {
    color: #000;
    text-align: left;
    height: 170px;
    .title {
        // font-size: 1.1rem;
        font-size: 1.275em;
        font-weight: 500;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .desc {
        font-size: 0.8rem;
        opacity: 0.5;
    }
}

._upload-from-stream {
    .e-toolbar-items {
        width: 100%;
    }

    .e-toolbar-item .e-template {
        width: 50%;
    }

    .e-indicator .e-ignore {
        width: 50%;
    }

    .e-tab .e-tab-header .e-toolbar-item.e-active .e-tab-wrap:hover .e-tab-text,
    .e-tab .e-tab-header .e-toolbar-item.e-active .e-tab-wrap:hover .e-tab-icon {
        color: #000 !important;
    }
}

.c-item {
    font-size: 0.8rem;
    padding: 0.5em 0;
    cursor: pointer;
}

.c-item:hover {
    background-color: #f1f1f1;
}

._addAsset-tabs-wrap {
    padding-bottom: 1em;
    max-height: 300px;
    overflow-y: scroll;
    border-bottom: 1px solid #000;
}

.e-richtexteditor .e-rte-content,
.e-richtexteditor .e-source-content {
    background: transparent;
}

.cancel-btn {
    color: #000;
    font-size: 12px;
    cursor: pointer;
    position: absolute;
    top: 70px;
    left: 30px;
    padding: 1em;
}

.remove-click {
    position: absolute;
    background: $primaryColor;
    color: #fff;
    width: 30px;
    height: 30px;
    top: 10px;
    left: 10px;
    border-radius: 73%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.e-toolbar-items {
    background: transparent;
}

.e-rte-toolbar .e-control .e-toolbar .e-lib .e-extended-toolbar .e-keyboard {
    background: transparent;
}

.mt20 {
    margin-top: 20px;
}

.sec-input {
    color: rgba(0, 0, 0, 0.5);
    font-size: 13px;
    line-height: 20px;
}

.dialog-wrap {
    width: 80% !important;
    left: 10% !important;
    height: 90vh;
    top: 5% !important;
}
.dialog-wrap.stream-banner-wrap {
    width: 25% !important;
    left: 30% !important;
    height: 70vh;
    top: 5% !important;
}
.dialog-wrap.upload-local-wrap {
    width: 70% !important;
    left: 15% !important;
    height: 70vh;
    top: 5% !important;
}
._edit-banner-backdrop {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100vh;
    top: 0px;
    z-index: 9;
}

.dFlexCenter {
    display: flex;
    align-items: center;
}

._bannerlist-main {
    display: grid;
    // -ms-grid-columns: auto auto auto auto;
    // grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    -ms-grid-columns: (minmax(186px, 1fr)) [auto-fill];
    grid-template-columns: repeat(auto-fill, minmax(186px, 1fr));

    .upload-wrap {
        // width: 35%;
        border: 1px solid #ccc;
        // height: 250px;
        border-radius: 13px;
        box-shadow: 2px 1px 10px #ccc;
        display: flex;
        justify-content: center;
        align-items: center;
        grid-column-start: 1;
        grid-column-end: 3;
        -ms-grid-row: 1;
        grid-row-start: 1;
        grid-row-end: 3;
    }

    .img-wrap {
        // box-shadow: 0 0 2px rgb(0 0 0 / 40%);
        transition: all 0.2s ease-in-out;
        cursor: pointer;
        border: 0 none;
        border-radius: 5px;
        opacity: 0.75;
        overflow: hidden;

        img {
            width: 100%;
            height: 108px;
            -o-object-fit: cover;
            object-fit: cover;
        }
    }
    .img-wrap:hover {
        transform: scale(1.1);
        z-index: 9999;
        opacity: 1;
    }
}
._banner-filter {
    position: absolute;
    top: 10%;
    left: 22%;
    border: 1px solid #ccc;
    background: #fff;
    padding: 1em;
    box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
    display: flex;
    width: 15%;
    flex-wrap: wrap;
    justify-content: space-between;
    .box-wrap {
        width: 20px;
        height: 20px;
        border-radius: 4px;
        // background-color: #ccc;
        margin: 10px;
        border: 1px solid #ccc;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .box-wrap:last-child {
        background: transparent;
        border: none;
        pointer-events: none;
    }
    .primaryColor {
        color: $primaryColor;
    }
}
.color-select-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.close-btn-wrap {
    flex: 0 1 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
    font-size: 10px;
}
.box-wrap-pos {
    width: 20px;
    height: 20px;
    border-radius: 4px;
    // background-color: #ccc;
    margin: 10px;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rot320 {
    transform: rotate(320deg);
}
.rot50 {
    transform: rotate(50deg);
}
.rot270 {
    transform: rotate(270deg);
}
.rot90 {
    transform: rotate(90deg);
}
.rot220 {
    transform: rotate(220deg);
}
.rot180 {
    transform: rotate(180deg);
}
.rot130 {
    transform: rotate(130deg);
}
.iconw-wrap {
    color: #fff;
    opacity: 0;
    cursor: pointer;
}

.delete-link {
    float: right;
    color: rgb(11, 162, 227);
    cursor: pointer;
    font-size: 0.75rem;
    text-transform: uppercase;
    padding-right: 10px;
}
p.template-subheading.pad1 {
    font-size: 1.2rem;
    text-align: left;
    font-weight: 500;
    padding: 20px !important;
}

.basicPtag.copyText {
    text-align: left;
    color: rgb(11, 162, 227);
    cursor: pointer;
    display: block;
    text-transform: uppercase;
    padding-top: 10px;
    font-size: 12px;
    padding-left: 0px;
}
._share-assets-wrap {
    .e-accordion .e-acrdn-item.e-selected.e-select.e-expand-state > .e-acrdn-header:focus {
        background-color: #fff !important;
        border: none !important;
    }
}
.link-footer-btn-wrapper {
    display: flex;
}

.email-gating {
    text-align: left;
    display: block;
    margin-bottom: 10px;
    padding-left: 0px !important;
}

.addAsset-collection-wrap ._share-assets-wrap {
    width: 50%;
}
.stream-lists-item,
.collection-lists-item {
    .c-item {
        margin-top: 10px;
    }
}
.link_item {
    font-size: 0.85rem !important;
}
._upload-from-stream {
    // min-height: 350px;
    height: 100%;
}
.sectionContent {
    padding-top: 0px;
    p {
        line-height: 20px !important;
    }

    .view-content {
        padding: 15px !important;
    }
}

.section-analytics-wrapper {
    display: flex;
    .accordion-wrapper {
        width: 18%;
        // width: 20%;
        height: 100vh;
    }
    .analytics-wrapper {
        background-color: #fff;
        height: 100%;
        padding: 0;
        box-shadow: 0 0 6px 1px rgb(0 0 0 / 20%);
        .title {
            display: flex;
            align-items: center;
            border-bottom: 1px solid #dbdbdb;
            padding: 0px 20px;
            .back-icon {
                font-size: 20px;
                color: #000;
                position: absolute;
                left: 5px;
                line-height: 35px;
                cursor: pointer;
            }
            .page-name {
                font-size: 30px;
                font-weight: bold;
                text-align: right;
                width: 100%;
                line-height: 30px;
                position: relative;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                img {
                    width: 60px;
                }
            }
        }
        .section-Name {
            font-size: 1rem;
            font-weight: 600;
            padding: 10px;
            min-height: 20px;
        }
    }
    .e-accordion .e-tgl-collapse-icon::before {
        content: "\e823";
    }

    .e-accordion .e-tgl-collapse-icon.e-expand-icon::before {
        content: "\e934";
    }
    .e-accordion .e-acrdn-item.e-select.e-expand-state > .e-acrdn-header .e-acrdn-header-content {
        color: #0ba2e3;
        // font-weight: 600;
        font-size: 15px;
        // border: none;
    }
    .e-acrdn-header-content {
        position: relative;
    }
    .e-acrdn-header-content:before {
        content: "14 Assets";
        position: absolute;
        top: 14px;
        font-size: 10px;
        font-style: italic;
    }
    .e-accordion .e-acrdn-item.e-select.e-selected.e-expand-state > .e-acrdn-header > .e-toggle-icon,
    .e-accordion .e-acrdn-item.e-select.e-expand-state > .e-acrdn-header > .e-toggle-icon {
        color: #0ba2e3 !important;
    }
    .e-acrdn-header {
        border-bottom: 1px solid #ddd;
        height: 50px !important;
    }
    .e-accordion .e-acrdn-header-content {
        margin-left: 15px;
    }
    .e-accordion .e-acrdn-item.e-select.e-selected {
        // border-bottom: 1px solid #ddd !important;
        border-bottom: none !important;
    }
    .e-accordion .e-acrdn-item.e-expand-state.e-select:last-child {
        border-bottom: none !important;
    }
    .e-accordion .e-acrdn-item.e-select {
        border: none !important;
        border-top: 1px solid #ddd !important;
    }
    .e-accordion .e-acrdn-item.e-select.e-selected:last-child {
        border-bottom: none !important;
    }
    .e-accordion .e-acrdn-item .e-acrdn-header .e-toggle-icon {
        position: absolute;
        right: 16px;
        top: 0;
        left: 0;
    }
    .e-accordion .e-acrdn-item .e-acrdn-panel .e-acrdn-content {
        padding: 0px !important;
    }
    .analytical-card-wrapper {
        background: #fff;
        padding: 20px 30px 10px;

        .analytic-card {
            // padding: 20px 30px 10px;
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-box-orient: vertical;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            color: #fff;
            font-weight: 600;
            text-decoration: none;
            cursor: pointer;
            outline: none;
            position: relative;
            transition: background-color 0.5s ease;
            p.watch-text {
                color: #717274;
            }
            p.section-name {
                width: 75%;
                height: 40px;
            }
        }
    }
    .analytical-card-wrapper.active {
        background: #000;
    }
    .pdf-viewer-analysis {
        width: 100%;
        margin-bottom: 15px;
        margin-top: 20px;

        .viewed-text,
        .continue-text {
            color: #fff;
            width: 100%;
            line-height: 20px;
        }
        .continue-text {
            color: #0ba2e3;
        }
    }

    .analytical-circle {
        width: 40px;
        height: 45px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 7px solid #f3f3f3;
        border-top: 7px solid #717274;
        float: left;
        margin-right: 15px;
    }

    .analytical-circle p {
        margin-top: 5px;
        font-size: 12px;
        font-weight: bold;
        color: #717274;
    }
    .asset-viewer-wrapper {
        width: 82%;
        position: relative;
        p.page-title-header {
            padding: 20px;
            font-weight: 600;
            font-size: 20px;
            display: flex;
            align-items: center;
            box-shadow: 0 0 6px 1px rgb(0 0 0 / 20%);
            justify-content: center;
        }
        .profile-pic {
            width: 45px;
            border-radius: 50%;
            margin-top: 10px;
            position: absolute;
            right: -60px;
            top: 0;
        }
        .dFlexSB {
            position: absolute;
            right: 30px;
            top: 6px;
            z-index: 1;
            width: 15%;
        }
        .sharedby-wrap {
            width: 46%;
            position: relative;
            font-size: 12px;
            text-align: left;
            p {
                text-align: right;
            }
        }
        p.shredBy {
            font-size: 12px;
            color: #717274;
            text-align: right;
            // font-style: italic;
            // font-weight: bold;
        }
    }
    .profile-icon {
        position: absolute;
        right: -85px;
        top: 30px;
    }
}
.e-dropdown-btn {
    background: #fff !important;
    margin-top: -12px;
}
.profile-popup-dropdown {
    ul {
        font-size: 12px;
        // padding: 0px 20px;
    }
    .e-control:focus,
    .e-control *:focus {
        color: #0ba2e3 !important;
    }
    ul .e-item.e-selected {
        background-color: #fff;
        color: rgba(0, 0, 0, 0.87);
    }
    ul .e-item:hover {
        background-color: #fff !important;
        color: rgba(0, 0, 0, 0.87) !important;
    }
    li:first-child {
        // text-decoration: underline;
        a {
            color: #0ba2e3 !important;
            font-size: 13px;
        }
        padding: 0 20px;
        border-bottom: 1px solid #cdcdcd;
    }

    li:last-child {
        background-color: none;
        font-style: italic;
        color: #333;
    }
}

.e-input:focus:not(.e-success):not(.e-warning):not(.e-error),
.e-float-input:not(.e-success):not(.e-warning):not(.e-error):not(.e-input-group) input:focus,
.e-float-input:not(.e-success):not(.e-warning):not(.e-error):not(.e-input-group) textarea:focus,
.e-float-input.e-control-wrapper:not(.e-success):not(.e-warning):not(.e-error):not(.e-input-group) input:focus,
.e-float-input.e-control-wrapper:not(.e-success):not(.e-warning):not(.e-error):not(.e-input-group) textarea:focus,
.e-float-input:not(.e-success):not(.e-warning):not(.e-error):not(.e-input-group).e-input-focus input,
.e-float-input.e-control-wrapper:not(.e-success):not(.e-warning):not(.e-error):not(.e-input-group).e-input-focus input {
    border-color: #0ba2e3 !important;
}
.crop-container {
    position: relative;
    height: calc(100vh - 120px);
    .crop-option-wrap {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        padding: 0 40px;
        box-sizing: border-box;
        .reactEasyCrop_Container {
            height: calc(100vh - 50px);
        }
        .crop-option-zoom,
        .crop-save,
        .crop-option-rotate {
            width: 25%;
            float: left;
            padding-right: 40px;
        }
    }
}
._collectionpdf_header {
    padding: 5px 40px;
    margin-bottom: 10px;
    box-shadow: 0 8px 11px -6px rgb(0 0 0 / 12%);
}

.default-profile-picture {
    width: 50px;
    float: left;
    margin-left: -60px;
    margin-top: 0px;
}

.e-richtexteditor .e-rte-content .e-content,
.e-richtexteditor .e-source-content .e-content {
    text-align: left !important;
}
.textarea-summary {
    textarea {
        width: calc(100% - 30px) !important;
        padding: 15px !important;
    }
}

.e-toast-container.e-toast-bottom-left {
    .stream-toaster {
        bottom: 70px !important;
        left: 40px !important;
    }
}
.upload-wrap {
    .control-pane {
        width: 100%;
        text-align: center;
    }
}
#dropArea.uploadlocal-image {
    position: relative;
    padding: 50px;
    .e-file-select-wrap {
        height: 100%;
        button.e-css.e-btn {
            height: 100%;
            width: 100%;
        }
    }
    .e-upload.e-control-wrapper.e-lib.e-keyboard {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 11111;
        width: 100%;
        height: 100%;
        cursor: pointer;
    }
}
.share-collection-wrap-wide {.add-assets-wrap .add-btn .e-upload .e-upload-files {
    position: absolute;
    right: -60%;
    width: 50%;
    top: 15%;
}
}