@import "../../theme.scss";

.logo-wrap {
    float: left;
    width: 100px;
}

.logo {
    width: 100%;
}

.profile-wrap {
    width: calc(100% - 100px);
    float: left;
}

.username {
    margin: 0;
    font-size: 15px;
    color: $secondary;
    text-align: right;
    display: flex;
    align-items: center;
}

.user-welcome-txt {
    font-weight: normal;
    color: $secondary;
}

.notif-icon {
    width: 35px;
    height: 35px;
    background: $active;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15px;

    i {
        font-size: 0.8em;
        color: #fff;
    }
}

.content-space {
    padding: 28px 0 50px;
    min-height: 310px;
    margin-bottom: 20px;
}

.content-scroll-wrap {
    width: 100%;
    float: left;
    height: 272px;
    position: relative;
    overflow: hidden;
    padding-bottom: 0;

    .content-scroll-container {
        position: absolute;
    }

    .e-card {
        width: 200px;
        height: 272px;
        float: left;
        border-radius: 15px;
        margin-right: 15px;
        margin-bottom: 15px;

        .e-card-image {
            width: 100%;
            height: 100%;
            // box-shadow: 0 2px 3px 0 rgb(0 0 0 / 16%);
            border-radius: 15px;
            background: url(../../Assets/images/stream_loading_icon.jpg);
            background-size: contain;
        }
    }

    .prev-btn-wrap,
    .next-btn-wrap {
        position: absolute;
        height: 100%;
        display: flex;
        align-items: center;
        background-image: linear-gradient(90deg, hsla(0, 0%, 0%, 0.5), hsla(0, 0%, 0%, 0.5));
        backdrop-filter: blur(4px);
        padding: 0 15px;
        cursor: pointer;

        i {
            color: #fff;
        }

        :hover {
            i {
                color: $primaryColor;
            }
        }
    }

    .prev-btn-wrap:hover,
    .next-btn-wrap:hover {
        i {
            color: $primaryColor;
        }
    }

    .next-btn-wrap {
        right: 0;
    }
}

.section_title {
    font-size: 1.2rem;
    margin-top: 7px;
    font-weight: 500;
    color: $secondary;
    text-align: left;
}

.section_title:after {
    content: "";
    display: inline-block;
    background-color: #f3f6f9;
    height: 1px;
    left: 1em;
    margin-right: -50%;
    position: relative;
    top: 0.25em;
    vertical-align: middle;
    width: 100%;
}

.recent-conten-wrap .e-card {
    height: 200px;
    width: 140px;
    box-shadow: none !important;
    background: none !important;
}

.recent-conten-wrap .e-card.collection-card {
    width: 200px !important;
    height: 240px !important;
}

.recent-conten-wrap .e-card.collection-card-stream {
    width: 140px !important;
    height: 200px !important;
}

.content-scroll-wrap.recent-conten-wrap {
    height: 214px;
}

.recent-conten-wrap .e-card-image {
    background-size: 100% 100% !important;
}
.collection-tab-content {
    float: left;
    width: 100%;
    margin-top: 20px;
    text-align: left;
    padding: 0px 20px;
    padding-left: 0px;
    min-height: 140px;
    display: flex;

    .collection-name {
        font-size: 1.125em;
        color: #000;
        font-weight: 600;
        margin-bottom: 5px;
    }
    .no-of-assets {
        font-size: 0.75em;
        font-weight: 300;
        color: #717274;
        margin-bottom: 15px;
    }
    .collection-desc {
        font-size: 0.75em;
        font-weight: 300;
        color: #000;
        line-height: 20px;
        margin-bottom: 15px;
    }
    .explore-btn {
        text-transform: capitalize;
    }
    img.collection-img {
        width: 50%;
        border-radius: 25px;
        width: 90%;
        height: 250px;
        margin-right: 100px;
    }
}
.assets-content {
    display: flex;
    align-items: center;
    justify-content: center;
    .no-asset-text {
        color: #717274;
        font-size: 14px;
    }
}
.close-icon-collection {
    position: absolute;
    right: 0;
    top: 36px;
    font-size: 25px;
    cursor: pointer;
}
.e-card-image:hover {
    box-shadow: 0 8px 4px 0 rgb(0 0 0 / 16%);
}

p.e-card-name {
    font-size: 0.75rem;
    text-align: left;
    color: #000;
    margin-top: 10px;
    padding-bottom: 5px;
}

p.e-card-updatedat {
    font-size: 0.625rem;
    font-weight: 300;
    font-style: italic;
    text-align: left;
    margin-bottom: 10px;
}

//new

.e-add-new:before {
    content: "\e823";
}

.stream-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    float: left;
    margin-top: 10px;
}

.create-stream-wrapper {
    display: flex;
    cursor: pointer;
    border: 1px solid $primaryColor;
    justify-content: flex-start;
}

.add-sign {
    border-right: 1px solid $primaryColor;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    color: $primaryColor;
    font-weight: bold;
    padding: 7px;
}

.create-stream-btn {
    font-weight: 500;
    color: $primaryColor;
    margin: 5px;
    font-size: 0.75rem;
}

.stream-filter {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.filter-heading {
    font-size: 0.7rem;
    padding-right: 15px;
    font-weight: 600;
    color: #717274;
}

.filter-item {
    font-size: 0.7rem;
    padding-right: 15px;
    font-weight: 600;
    line-height: 1em;
    color: #717274;
    cursor: pointer;
}

.filter-item.active {
    color: $active;
}

.card-separator {
    height: 2px;
    background-color: #dbdbdb;
    margin-top: 5px;
    margin-bottom: 0;
}

.create-stream-wrap {
    .slide-content-wrap {
        .slide-content-container {
            background: #000;
            border-left-color: #000;
            width: 30%;

            .control_wrapper .imagepreview {
                max-width: 505px;
                margin: auto;
            }

            .imagepreview .e-file-select-wrap {
                display: none;
            }

            .imagepreview .e-upload {
                border: none;
                margin-top: 10px;
                width: 100%;
                display: none;
            }

            .imagepreview #dropimage {
                font-size: 14px;
                width: 90px;
                height: 110px;
                border-radius: 5px;
                background: #fff;
                color: #000;
                margin: 0 auto;
                display: flex;
                align-items: center;
                cursor: pointer;
                a {
                    color: #000;
                    text-decoration: none;
                }

                img {
                    width: 90px;
                    height: 113px;
                    border-radius: 5px;
                }
            }

            .e-bigger .imagepreview #dropimage {
                font-size: 15px;
            }

            .control-pane #uploadpreview {
                overflow: initial;
            }

            .imagepreview #dropArea {
                position: relative;
                text-align: center;
                padding-top: 20px;
                display: block;
                width: 100%;
                overflow: hidden;
            }

            .imagepreview #dropArea .e-upload .e-upload-files {
                text-align: initial;
                border-top: none;
            }

            .imagepreview #dropArea .e-upload-files .e-file-delete-btn.e-icons,
            .imagepreview #dropArea .e-upload-files .e-file-remove-btn.e-icons {
                top: 120px;
                background-color: white;
                border-radius: 50%;
                font-size: 12px;
                left: 80px;
            }

            .imagepreview #dropArea .e-upload-files li .e-file-remove-btn.e-icons.e-upload-icon {
                font-size: 14px;
                left: 20px;
            }

            .imagepreview #dropArea .e-upload-files li:hover .e-icons {
                visibility: visible;
            }

            .imagepreview #dropArea .e-upload-files li .e-icons {
                visibility: hidden;
            }

            .cs-hd {
                font-size: 1em;
                font-weight: 700;
                margin: 0px;
                padding-top: 20px;
                color: #fff;
            }

            .create-stream-form {
                padding: 30px;

                .button-wrapper {
                    background: #000;
                }

                input,
                .e-input-in-wrap:hover,
                .e-float-input.e-control-wrapper input,
                .e-float-input.e-control-wrapper textarea {
                    // border-bottom-color: #fff !important;
                    border-color: #fff !important;
                }

                .e-float-input.e-control-wrapper textarea {
                    background: #e0e0e0;
                    height: 100px;
                    border-radius: 20px;
                    // border-bottom-color: #e0e0e0 !important;
                    border-color: #e0e0e0 !important;
                }

                .e-input-group:hover:not(.e-success):not(.e-warning):not(.e-error):not(.e-disabled):not(.e-float-icon-left),
                .e-input-group.e-control-wrapper:hover:not(.e-success):not(.e-warning):not(.e-error):not(.e-disabled):not(.e-float-icon-left),
                .e-float-input.e-control-wrapper:hover:not(.e-success):not(.e-warning):not(.e-error):not(.e-disabled):not(.e-float-icon-left),
                .e-float-input:hover:not(.e-success):not(.e-warning):not(.e-error):not(.e-disabled):not(.e-float-icon-left),
                .e-input-group.e-float-icon-left:not(.e-success):not(.e-warning):not(.e-error):not(.e-disabled)
                    .e-input-in-wrap:hover,
                .e-input-group.e-control-wrapper.e-float-icon-left:not(.e-success):not(.e-warning):not(.e-error):not(.e-disabled)
                    .e-input-in-wrap:hover,
                .e-float-input.e-float-icon-left:not(.e-success):not(.e-warning):not(.e-error):not(.e-disabled)
                    .e-input-in-wrap:hover,
                .e-float-input.e-control-wrapper.e-float-icon-left:not(.e-success):not(.e-warning):not(.e-error):not(.e-disabled)
                    .e-input-in-wrap:hover,
                .e-float-input:hover:not(.e-input-group):not(.e-success):not(.e-warning):not(.e-error):not(.e-disabled)
                    input:not([disabled]),
                .e-float-input:hover:not(.e-input-group):not(.e-success):not(.e-warning):not(.e-error):not(.e-disabled)
                    textarea:not([disabled]),
                .e-float-input.e-control-wrapper:hover:not(.e-input-group):not(.e-success):not(.e-warning):not(.e-error):not(.e-disabled)
                    input:not([disabled]),
                .e-float-input.e-control-wrapper:hover:not(.e-input-group):not(.e-success):not(.e-warning):not(.e-error):not(.e-disabled)
                    textarea:not([disabled]),
                .e-float-input.e-control-wrapper.e-float-icon-left:not(.e-success):not(.e-warning):not(.e-error):not(.e-disabled)
                    .e-input-in-wrap:hover {
                    // border-bottom-color: #fff !important;
                    border-color: #fff !important;
                }

                label {
                    color: #fff !important;
                }

                .cs-desc {
                    font-size: 14px;
                    color: #717274;
                    padding-top: 30px;
                    padding-bottom: 30px;
                }
            }
        }
    }
}

// ._stream-details-main-wrap video {
//     width: 100%;
//     height: 100%;
//     position: absolute;
//     object-fit: cover;
//     z-index: -1;
// }
// ._stream-details-main-wrap {
//     position: relative;
// }
._left-details-wrap video {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    z-index: -1;
    left: 0;
    top: 0;
}
._left-details-wrap {
    width: 30%;
    position: relative;
    // height: 100vh;
    // background: url(../../Assets/images/details_bg.png);
    background-position: center center;
    background-size: cover;
    padding: 1em;

    .edit-panel {
        display: flex;
        padding: 1em 0;
        justify-content: space-between;
        font-size: 12px;
        color: #fff;
        align-items: center;

        .back-btn {
            font-size: 12px;
            color: #fff;
            cursor: pointer;
        }

        .edit-wrap {
            padding: 6px;
            background: rgb(255 255 255 / 30%);
            font-size: 10px;
            font-weight: bold;
        }
    }

    ._stream-content-wrap {
        .title {
            font-size: 30px;
            text-align: left;
            color: hsla(0, 0%, 100%, 0.2);
            font-weight: bold;
        }
    }

    .manage-wrap {
        display: flex;
        justify-content: flex-end;

        .hidden-label {
            display: none;
            font-size: 12px;
            color: #fff;
        }

        .icon-wrap {
            border: 1px solid #fff;
            border-radius: 60px;
            padding: 4px 10px;
            cursor: pointer;
            position: relative;

            i {
                color: #fff;
                font-size: 20px;
                opacity: 0.5;
                top: -3px;
                position: relative;
            }
        }
    }
}

.icon-wrap:hover {
    .hidden-label {
        display: flex;
        position: absolute;
        left: -85px;
        top: 11px;
        text-align: right;
    }
}

.guides-wrap {
    // padding: 1em 0;
    .titleMain {
        padding-bottom: 2em;
        color: #fff;
        text-align: left;
        font-size: 20px;
    }

    .detail-wrap {
        padding: 1em 0;
        display: flex;
        justify-content: space-between;
        width: 80%;
    }

    .detail-block {
        padding: 10px;
        border-radius: 7px;
        box-sizing: content-box;
        background: rgba(255, 255, 255, 0.24);
        width: auto;
        font-size: 12px;
        color: #fff;

        .title {
            padding-bottom: 3px;
            font-size: 24px;
        }
    }
}

.input-wrap {
    padding: 1em 0;

    .name-title {
        text-align: left;
        font-size: 12px;
        color: #fff;
        margin-bottom: 1em;
    }

    .e-float-input.e-control-wrapper.e-outline.e-valid-input {
        color: #fff;
        background: rgb(255 255 255 / 20%);
    }

    label {
        color: #fff;
    }

    #toolsRTE_toolbar {
        // background: rgb(255 255 255 / 20%);
        background-color: #fff;
        text-align: left;
    }

    .e-toolbar .e-toolbar-items {
        background: transparent;
    }

    span.e-btn-icon.e-bold.e-icons {
        background: transparent;
    }

    span.e-btn-icon.e-italic.e-icons {
        background: transparent;
    }

    #toolsRTE_rte-edit-view {
        // background: rgb(255 255 255 / 20%);
        background-color: #fff;
        text-align: left;
    }
}

.follow-stream {
    background: rgba(255, 255, 255, 0.24);
    padding: 10px;
    width: fit-content;
    border-radius: 2px;

    .title {
        color: #fff;
        text-align: left;
        font-weight: bold;
        font-size: 12px;
        cursor: pointer;
    }
}

._right-contents-wrap {
    padding: 1em 1em 1em 2em;
    width: 74%;

    .title-wrap {
        display: flex;
        padding: 1em 0;
        justify-content: space-between;

        .title {
            font-size: 14px;
            text-align: left;
            color: #000;
        }
    }

    .nav-wrap {
        display: flex;
        padding: 0.5em 0;
    }
}

._stream-details-main-wrap {
    display: flex;
    height: 100vh;
}

.nav-wrap-main {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;

    .nav-wrap {
        display: flex;
        width: 100%;

        .title {
            font-size: 12px;
            color: $primaryColor;
            cursor: pointer;
            text-align: center;
            max-width: max-content;
        }
    }

    .list-view-wrap {
        display: flex;

        i {
            font-size: 18px;
            margin-left: 1em;
            color: #000;
            cursor: pointer;
        }

        .active {
            color: $primaryColor;
        }
    }
}

.fileType {
    font-size: 10px;
    background: black;
    color: #fff;
    padding: 0.3em;
    border-radius: 2px;
    position: absolute;
    height: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 11px;
    right: 10px;
}

._stream_table-wrap {
    position: fixed;
}

._table-createdby {
    font-size: 10px;
    font-style: italic;
}

.dFlex {
    display: flex;
    align-items: center;
}

.mr5 {
    margin-right: 5px;
}
._stream-btn-wrap {
    .or-wrap {
        font-size: 12px;
        color: #000;
    }
    .e-chip-list:not(.e-chip) {
        flex-wrap: initial;
    }
}
.width100 {
    width: 100%;
}
.rename-wrap {
    font-size: 12px;
    color: #000;
    text-align: left;
}
._app-mainbackground {
    background: $bodyBG;
    // padding: 60px 30px;
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
}
.whats-new-banner {
    position: relative;
    display: flex;
    height: 300px;
    width: 100%;
    justify-content: space-between;
    // border: 1px solid #dddd;
    // background: linear-gradient(#bdbdbd, #f5f5f5);
    background: #f9f9f9;
    // background: #edeef1;
    .whats-new-text {
        font-size: 2.5rem;
        color: #424242a8;
        float: left;
        margin-left: 30px;
        margin-top: 50px;
    }
    .text {
        color: #000;
        font-size: 1.85rem;
        width: 80%;
        margin-top: 100px;
        text-align: left;
        margin-left: 30px;
    }
    .banner-img {
        width: 30%;
        cursor: pointer;
        position: absolute;
        right: 0;
        height: 100%;
        opacity: 0.75;
    }
    .explore-btn {
        float: left;
        padding: 10px 20px;
        border: 1px solid #0ba2e3;
        color: #000;
        position: absolute;
        bottom: 70px;
        background: #0ba2e3;
        color: #fff;
        left: 30px;
    }
}
.header-menu {
    padding: 0.35em 0.5em !important;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: flex-end;
    box-sizing: border-box;
}
.e-chip-list.e-chip.e-primary,
.e-chip-list .e-chip.e-primary {
    background: $buttonBg;
}
video {
    width: 100%;
    height: 100%;
    object-position: center;
    background-size: cover;
    object-fit: cover;
}
//Management User Access
.stream-mngt-wrap {
    padding: 100px 60px;
    float: left;
    box-sizing: border-box;
    width: 48%;

    .clearfix.e-list-wrapper.e-list-multi-line.e-list-avatar {
        height: 100px !important;
        border-bottom: 3px solid #000 !important;
    }

    .e-list-item-header {
        text-align: left;
        margin-left: 30px !important;
        line-height: 55px;

        span {
            float: right;
        }
    }
}
.stream-mngt-preview {
    position: fixed;
    left: 0;
    z-index: 1111;
    padding: 0 !important;

    .stream-preview {
        box-sizing: border-box;
        padding: 30px 60px;
    }

    .upload-contact-back {
        float: left;
        width: 100%;
        text-align: left;
        margin-bottom: 30px;
        cursor: pointer;

        i {
            margin-right: 10px;
        }
    }

    .e-listview .e-list-header {
        background: transparent;
    }

    .e-listview .e-content {
        height: calc(100vh - 150px);
        overflow-y: scroll;
    }

    .e-listview .e-list-item {
        background: transparent;
    }

    .e-listview .e-list-item.e-active {
        background: rgb(29 161 242 / 10%);
    }

    .stream-preview-content {
        background: #fff;
        height: 100vh;
        box-sizing: border-box;
        padding: 30px 60px;
        width: 100%;
        float: left;

        thead {
            display: none;
        }

        .stream-name {
            i {
                margin-right: 5px;
            }

            .e-chip-list {
                display: inline;
            }

            .e-chip {
                height: 15px;

                span {
                    font-size: 12px;
                }
            }
        }

        .clearfix.e-list-wrapper.e-list-multi-line.e-list-avatar {
            height: 80px;
            margin-bottom: 15px;
            border-bottom: 3px solid;

            img {
                float: left;
            }

            .e-list-item-header {
                float: left;
                font-weight: bold;
                font-size: 18px;
            }
        }

        .stream-option {
            width: 100%;
            clear: both;
            display: flex;
            justify-content: flex-end;

            .e-radio-wrapper {
                margin-left: 10px;
            }
        }

        .button-wrapper {
            margin: 0;
            width: 40% !important;
        }

        .e-grid {
            margin-top: 15px;
        }
    }
}
.stream-mngt-wrap .e-list-item-header {
    color: #000 !important;
}
.table-item-select-wrap {
    .e-checkbox-wrapper.e-wrapper {
        float: left;
        margin: 8px 8px 0 0;
    }
}
.notify-count {
    position: absolute;
    right: -10px;
    top: 0;
    width: 20px;
    height: 20px;
    font-size: 12px;
    background: #23274e;
    border-radius: 50%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    // line-height: 12px;
    // font-weight: 600;
}

.manage-source-template-heading {
    color: #000000;
    font-size: 1.625em;
    font-weight: 700;
    padding-top: 10px;
}
.manage-source-subheading {
    color: #717274;
    font-size: 0.9em;
    display: block;
    margin-top: 15px;
}
// .manageSource-wrap {
//      .slide-content-container {
//         width: 30% !important;
//     }
// }
.source-panel-header {
    display: flex;
    margin-top: 2rem;
}
.source-panel-header p {
    width: 50%;
    font-size: 0.75rem;
    color: #000;
    margin-bottom: 15px;
}

p.map-new-text {
    font-size: 12px;
    border: 1px solid #dbdbdb;
    line-height: 40px;
    font-weight: 600;
    border-right: none;
    border-left: none;
    cursor: pointer;
    padding-left: 10px;
}
.connect-source-img {
    width: 60%;
    margin-top: 40px;
    margin-bottom: 30px;
}
.blip-text {
    font-size: 0.875em;
    white-space: normal;
    margin-top: 10px;
    font-weight: 500;
    text-align: center;
    color: #000000;
}
.status-text {
    color: #424242;
    font-size: 0.875em;
    margin-top: 10px;
    white-space: normal;
}
.connect-now-btn {
    background-color: #23274e;
    color: #fff;
    border: none;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 15px;
    display: inline-block;
}
.connect-lists {
    box-shadow: 0 0 5px rgb(0 0 0 / 15%);
    // margin: 0 30px 0 0;
    // float: left;
    width: 100%;
    // padding: 30px;
    min-height: calc(100vh);
    background: #fff;
    // position: relative;
}
.create-connect {
    background: rgb(255, 255, 255);
    border-left: 1px solid rgb(219, 219, 219);
    position: fixed;
    top: 0;
    height: 100vh;
    width: 25%;
    left: 25%;
    padding-top: 30px;
}
.manageSource-wrap {
    .close-icon {
        z-index: 1;
    }
}
.manageSource-wrap {
    .slide-content-container {
        width: 50% !important;
        transition: width 1s;
    }
}
.gropuitem-preview {
    .nav-wrap-main {
        margin-top: 15px;
    }
    .nav-wrap-main .list-view-wrap {
        display: flex;
        margin-bottom: 5px;
    }
    ._stream-content-wrap {
        margin-top: 20px;
    }
    .back-btn {
        color: #000;
        font-size: 0.85rem;
        display: flex;
        align-items: center;
        cursor: pointer;
        font-weight: 500;
    }
    .title {
        font-weight: 700;
        margin: 0;
        line-height: 1em;
        font-size: 3em;
        color: #dbdbdb;
    }
    .sub-title {
        font-weight: 300;
        margin: 0 auto auto;
        color: #000;
        font-size: 1.8em;
        margin: -20px auto auto;
        opacity: 0.8;
    }
}
//Delete stream
.side-panel-hd h1 {
    padding-bottom: 0 !important;
}

.side-panel-hd p {
    color: #000;
}

.side-panel-img {
    position: relative;
    width: 200px;
    height: 267px;
    border-radius: 10px;
}

.side-panel-img img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: linear-gradient(transparent, transparent, #fafafa, #fafafa);
}

.side-panel-img p {
    position: absolute;
    bottom: -20px;
    color: #fff;
    left: 30px;
}
.side-panel-desc {
    margin-top: 30px;
    margin-bottom: 30px;
}
.delete-stream-wrap {
    .sidecontentnav .slide-content-container {
        width: 40%;
    }
}

.-collection-section-viewwrap {
    // width: calc(100% - 30px);
    // padding: 30px;

    width: 100%;
    padding: 0px;
    // overflow-y: scroll;

    img.collection-logo-img {
        width: 30%;
    }

    .collection-logo {
        width: 15%;
        padding-left: 40px;
        // padding-top: 20px;
    }

    .title-wrapper.col-md-7 {
        position: relative;
        padding: 60px;
    }
    .share-collection {
        color: #0ba2e3;
        font-size: 15px;
        display: flex;
        align-items: center;
        cursor: pointer;
        position: absolute;
        top: 60px;
        float: left;
        right: 30px;
        float: left;
    }
    .title-wrapper video {
        width: 100%;
        height: 100%;
        position: absolute;
        object-fit: cover;
        z-index: -1;
        left: 0;
        top: 0;
    }
    .title-wrapper {
        position: relative;
        min-height: 72vh;
        background-image: linear-gradient(-24.8312deg, rgba(255, 255, 255, 0), rgb(0, 0, 0));
    }
    ._collectionItem_content-wrap {
        width: 100%;
        margin-left: 4%;
        margin-top: 5%;
    }
    .reactout-tag {
        margin-top: 30px;
        color: #ffffff;
    }
    .ref-tag {
        color: #ffffff;
        font-size: 14pt;
        margin-top: 30px;
    }
    .schedule-btn-wrap {
        cursor: pointer;
        margin-top: 60px;
    }
    .schedule-btn {
        border: 10px solid #23274e;
        background-color: #23274e;
        font-family: "Montserrat", Helvetica, Arial, sans-serif;
        color: #ffffff;
        padding: 0px;
        display: inline-block;
        text-decoration: none;
    }
    .sharedby-wrap {
        font-size: 0.675em;
        font-weight: 300;
        font-style: italic;
        line-height: 15px;
        padding: 2px 0;
    }
    .section-tab-container {
        width: 100%;
    }
    ._collectionItem-tabs-wrapper {
        background-color: #fff;
        border: 0 none;
        overflow-x: auto;
        min-height: 100vh;
    }
    .e-toolbar.e-control[class*="e-toolbar"] {
        box-shadow: 0 4px 10px -4px rgb(0 0 0 / 30%);
    }
    .tabcontent.e-content.e-lib.e-touch {
        padding: 30px 60px;
    }
    .e-tab .e-tab-header .e-toolbar-items {
        margin-left: 40px;
        height: 50px;
        padding: 0px;
    }
    /// section items
    .e-tab .e-tab-header:not(.e-vertical) .e-indicator {
        height: 4px !important;
    }
    .e-tab .e-tab-header .e-toolbar-item:not(.e-separator) {
        height: 36px;
        margin: 0;
        min-height: 50px;
        min-width: auto;
        padding: 0;
    }
    .cards {
        width: 25%;
    }

    .tab-content-wrapper {
        position: relative;

        .card-item {
            width: 25%;
            float: left;
            margin-right: 2%;
        }
        .card-item-preview {
            margin-bottom: 2%;
            width: 17%;
            float: left;
            margin-right: 2%;
        }
        .card-item-content {
            padding: 5px;
            cursor: pointer;
            width: 100%;
            height: 100%;
            box-shadow: 0 0 20px rgb(0 0 0 / 10%);
            background: #fff;
            position: relative;
            transition: all 0.3s;
            // padding-bottom: 24px;
            .image-content {
                background-size: cover;
                width: 100%;
                height: 100%;
            }
            .content-itemname {
                min-height: 40px;
                padding-bottom: 20px;
            }
            p {
                font-size: 0.85rem;
                font-weight: 400;
                overflow: hidden;
                padding-top: 10px;
                color: #000;
            }
        }
        .card-item-content:hover {
            -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
            box-shadow: 0 11px 22px rgb(0 0 0 / 15%);
        }
    }
}

.collection-content {
    float: left;
    width: 100%;
}
.collection-subpanel {
    width: 15%;
    margin-top: 30px;
    .overview-header,
    .assets-header {
        width: 50%;
        text-align: center;
        font-size: 0.875em;
        border: 0 none;
        cursor: pointer;
        color: #a9a9a9;
    }
    .wrapper.active {
        background: none;
        font-weight: 600;
        width: calc(50% - 20px);
        border-bottom: 3px solid #000;
        color: #0ba2e3;
        padding: 10px;
        cursor: pointer;
        font-size: 0.875em;
    }
}

.sort-dropdown {
    // position: relative;
    background-color: hsla(0, 0%, 98%, 0.9);
    box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    position: absolute;
    right: -25px;
    top: 50px;
    p {
        font-size: 0.75em;
        padding: 8px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        min-width: 160px;
        cursor: pointer;
        color: #000;
        text-align: left;
    }
    .sort-item.active {
        color: #0ba2e3;
        font-weight: 600;
    }
}
.e-card.collection-card {
    box-shadow: none;
    background: none;
}
.new-collection {
    .control-pane {
        padding: 40px 30px;
        padding-top: 50px;
        text-align: left;
    }
    .create-stream-form {
        padding: 0px !important;
        margin-bottom: 40px;
    }
    .close-icon {
        color: #fff !important;
        background: unset;
    }
    .subtext1 {
        color: #717274;
        font-size: 0.75em;
        font-weight: 300;
        color: #717274;
        font-style: italic;
        margin-bottom: 10px;
    }
    .add-asset-collection-wrap {
        background: #fff;
        position: absolute;
        top: 0;
        left: 100%;
        ._share_dflex {
            background: #fff;
            display: flex;
            width: 200%;
        }
    }
    .add-assets-wrap .add-btn .e-upload .e-upload-files {
        position: absolute;
        right: -50%;
        width: 45%;
        top: 15%;
    }
    .button-wrapper.popup {
        left: 100%;
    }
}
.collection-assets-lists{
    .tabcontent{
        padding: 0px 40px;
        margin-top:-10px;
    }
}