@import '../node_modules/@syncfusion/ej2-base/styles/material.css';  
@import '../node_modules/@syncfusion/ej2-buttons/styles/material.css';  
@import '../node_modules/@syncfusion/ej2-calendars/styles/material.css';  
@import '../node_modules/@syncfusion/ej2-dropdowns/styles/material.css';  
@import '../node_modules/@syncfusion/ej2-inputs/styles/material.css';  
@import '../node_modules/@syncfusion/ej2-navigations/styles/material.css';
@import '../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css';
@import "../node_modules/@syncfusion/ej2-react-grids/styles/material.css";
@import "./Assets/fontawesome/all.min.css";

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.language-wrap, .language-wrap-inside {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
}
.language-wrap-inside {
  right: 15px;
  z-index: 9999;
  display: none;
}
.language-wrap .e-menu-wrapper, .e-menu-container, .e-menu-wrapper ul .e-menu-item.e-selected, .e-menu-container ul .e-menu-item.e-selected {
    background: transparent;
}

.language-wrap .e-menu-wrapper ul, .e-menu-container ul, .e-menu-wrapper ul .e-menu-item.e-selected, .e-menu-container ul .e-menu-item.e-selected, .e-menu-wrapper ul .e-menu-item .e-menu-icon, .e-menu-container ul .e-menu-item .e-menu-icon , .e-menu-wrapper ul .e-menu-item .e-caret, .e-menu-container ul .e-menu-item .e-caret {
    color: #fff !important;
}
/* .language-wrap-inside .e-menu-wrapper, .e-menu-container, .e-menu-wrapper ul .e-menu-item.e-selected, .e-menu-container ul .e-menu-item.e-selected {
  background: transparent;
}

.language-wrap-inside .e-menu-wrapper ul, .e-menu-container ul, .e-menu-wrapper ul .e-menu-item.e-selected, .e-menu-container ul .e-menu-item.e-selected, .e-menu-wrapper ul .e-menu-item .e-menu-icon, .e-menu-container ul .e-menu-item .e-menu-icon , .e-menu-wrapper ul .e-menu-item .e-caret, .e-menu-container ul .e-menu-item .e-caret {
  color: #000 !important;
} */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
