body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
p{
  margin: 0px;
}

.e-btn.e-primary, .e-css.e-btn.e-primary{
  background-color:#23274e !important; 
}
.e-chip-list.e-chip.e-primary:active, .e-chip-list .e-chip.e-primary:active{
  background-color:#23274e !important; 
}
.e-chip-list.e-chip.e-primary:hover, .e-chip-list .e-chip.e-primary:hover{
color:#23274e !important; 
background: #fff !important;
border:1px solid #23274e !important;  
}
div#sidebar-menu{
  box-shadow:6px 0px 14px rgb(204 204 204 / 33%);
}

.sidebarClose {
  width: calc(100% - 52px) !important;
}

.sidebarOpen {
  width: calc(100% - 170px) !important;
}

.custom-chip-container {
  float: left;
  border: 1px solid #ccc;
  padding: 5px;
  margin-right: 5px;
  border-radius: 5px;
  margin-bottom: 5px;
  color: #000;
  cursor: pointer;
  background: #fff;
  font-size: 0.8em;
}

.custom-chip-container:hover, .custom-chip-container.active-chip{
  border: 1px solid #0ba2e3;
  color: #0ba2e3;
}

input {border: none;}


/* #sidebar-menu
{
  width: 170px !important;
} */
  /* Swipeable card customization */

  .card-control-section.swipe_card_layout #source_link {
      position: absolute;
      bottom: 0;
      right: 0;
  }

  .card-control-section.swipe_card_layout .row.card-layout {
      display: flex;
  }

  .card-control-section.swipe_card_layout .row.card-layout .col-xs-6.col-sm-6.col-lg-6.col-md-6 {
      margin: 0 auto;
  }

  .card-control-section.swipe_card_layout .e-card.e-card-horizontal .e-card-stacked .e-card-actions {
      flex-grow: 1;
  }

  .card-control-section.swipe_card_layout .e-card.e-card-horizontal .e-card-stacked .e-card-actions button {
      background: #fff;
      margin-left: 5px;
      margin-right: 5px;
      background-color: transparent;
  }

  .card-control-section.swipe_card_layout .e-card.e-card-horizontal .e-card-stacked> :first-child {
      flex-grow: initial;
  }

  .card-control-section.swipe_card_layout #horizontal_product .e-card {
      user-select: none;
      width: calc(100% - 15px);
  }

  .card-control-section.swipe_card_layout .col-xs-6.col-sm-6.col-lg-6.col-md-6 {
      position: relative;
      top: 50px;
      width: 100%;
  }

  .card-control-section.swipe_card_layout {
      min-height: 450px !important;
  }

  .card-control-section.swipe_card_layout #horizontal_product .e-card {
      position: absolute;
      transition: all 200ms;
      touch-action: none;
  }

  .card-control-section.swipe_card_layout .card-out {
      animation: card-out 0.3s cubic-bezier(.8, .2, .1, 0.8);
      transform: translateX(0px) rotate(0deg) translateY(0px) scale(1);
  }

  .card-control-section.swipe_card_layout .card-out-left {
      animation: card-out-left 0.3s cubic-bezier(.8, .2, .1, 0.8);
      transform: translateX(0px) rotate(0deg) translateY(0px) scale(1);
  }

  @keyframes card-out-left {
      0% {
          z-index: 20;
          transform: translateX(0px) translateY(0px);
      }
      10% {
          transform: translateX(-50px) translateY(0px);
      }
      20% {
          transform: translateX(-100px) translateY(0px);
      }
      30% {
          transform: translateX(-150px) translateY(0px);
      }
      40% {
          transform: translateX(-200px) translateY(0px);
      }
      50% {
          transform: translateX(-250px) translateY(0px);
      }
      60% {
          transform: translateX(-200px) translateY(0px);
          z-index: 0;
      }
      70% {
          transform: translateX(-150px) translateY(0px);
          z-index: 0;
      }
      80% {
          transform: translateX(-100px) translateY(0px);
          z-index: 0;
      }
      90% {
          transform: translateX(-50px) translateY(0px);
          z-index: 0;
      }
      100% {
          transform: translateX(0px) translateY(0px) scale(1);
      }
  }

  @keyframes card-out {
      0% {
          z-index: 20;
          transform: translateX(0px) translateY(0px);
      }
      10% {
          transform: translateX(50px) translateY(0px);
      }
      20% {
          transform: translateX(100px) translateY(0px);
      }
      30% {
          transform: translateX(150px) translateY(0px);
      }
      40% {
          transform: translateX(200px) translateY(0px);
      }
      50% {
          transform: translateX(250px) translateY(0px);
      }
      60% {
          transform: translateX(200px) translateY(0px);
          z-index: 0;
      }
      70% {
          transform: translateX(150px) translateY(0px);
          z-index: 0;
      }
      80% {
          transform: translateX(100px) translateY(0px);
          z-index: 0;
      }
      90% {
          transform: translateX(50px) translateY(0px);
          z-index: 0;
      }
      100% {
          transform: translateX(0px) translateY(0px) scale(1);
      }
  }

  .card-control-section.swipe_card_layout .e-card>* {
      max-width: 50%;
      justify-content: flex-start;
  }

  #source_link {
      float: right;
      margin-right: 10px;
  }

  @media screen and (max-width: 768px) {
      #source_link {
          margin-top: -10px;
          margin-right: 0px;
      }
  }

  @media (min-width: 540px) {
      .card-control-section.swipe_card_layout .col-xs-6.col-sm-6.col-lg-6.col-md-6 {
          width: 50%;
      }
      .card-control-section.swipe_card_layout .card-layout {
          margin: auto;
          max-width: 870px;
      }
  }
  ._share-assets-wrap .card-control-section.swipe_card_layout #horizontal_product .e-card {
    width: 32%;
    
}
._share-assets-wrap .e-card-content{
  height: 150px;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
}
*{
  box-sizing: border-box;
}
.toast-wrap-failure, .toast-wrap-success {
    position: absolute;
    top: 15px;
    background: red;
    z-index: 1111;
    padding: 10px;
    border-radius: 3px;
    right: 30px;
    color: #fff;
}
.toast-wrap-success {
    background-color: green;
}
.panel30 .slide-content-container{
    width: 30% !important;
}
.gmail-panel {
    width: 100%;
    padding: 45px;
}

.input-w50 {
    width: 50%;
    float: left;
    text-align: left;
}
.input-w50:nth-child(odd), .gmail-panel .input-w50:nth-child(even){
    padding-right: 1%;
}
.input-w50:nth-child(even), .gmail-panel .input-w50:nth-child(odd){
    padding-left: 1%;
}