$primaryColor: #0ba2e3;
$black:#212529;
$primary: #0ba2e3;
$bodyBG: #F9F9F9;
$secondary: #3d4465;
$labelText: #7e7e7e;
$active:#0ba2e3;
$sidemenuBg:#ebf5fa;
$buttonBg:#23274e;
$primaryColorFifty: #0ba2e375;