@import "../../theme.scss";
.conversation-wrap {
    span.e-list-content {
        text-align: left;
    }

    .e-listview.e-list-template .e-list-wrapper.e-list-avatar:not(.e-list-badge) {
        padding-left: 6.5em;
    }

    .e-list-item-header {
        text-align: left;
    }

    .timeStamp {
        text-align: left;
    }
    .e-splitter.e-splitter-horizontal .e-pane,
    .e-splitter.e-splitter-vertical .e-pane {
        font-size: 32px;
    }
    .page-header {
        // padding-left: 20px;
        width: 100%;
    }
    #listview_template {
        height: calc(100vh - 160px);
    }
}
.conversation-preview {
    width: 93%;
    float: left;
    // padding: 15px;   
     margin: 0px 40px 0px !important;
    box-sizing: border-box;
    margin-left: 30px;
    .preview-hd {
        margin: 0;
        font-weight: 700;
        font-size: 1.8rem;
        text-transform: capitalize;
        text-align: left;
    }

    .preview-details {
        font-size: 14px;
        display: block;
        padding-top: 20px;
        margin-bottom: -5px;
        text-align: left;
        clear: both;
    }

    .preview-active-timestamp {
        font-style: italic;
        font-size: 12px;
        text-align: left;
        color: #717274;
        margin-top: 10px;
    }
}

.doing-section {
    margin: 30px 0;
    float: left;
    width: 100%;
    .doing-section-hd {
        text-align: left;
        font-size: 16px;
        font-weight: 600;
        // font-weight: normal;
        margin: 13px 0;
    }

    .doing-section-lists {
        padding: 0;
        margin: 0;
        list-style: none;
    }

    .doing-section-lists li {
        // width: calc((100% - 5px) / 3);
        float: left;
        border-right: 1px solid #ccc;
        padding: 0 15px;
        box-sizing: border-box;
    }
    .doing-section-lists li:first-child {
        padding-left: 0;
    }
    .doing-section-icon i,
    .doing-section-icon span {
        font-size: 14px;
        text-align: left;
    }
    .doing-section-icon span {
        padding-left: 15px;
    }
    .doing-section-label {
        font-size: 12px;
        text-align: left;
        color: #717274;
    }
    .doing-section-icon {
        text-align: left;
    }
}

.preview-accordion-wrap {
    float: left;
    width: 100%;
    .e-accordion .e-acrdn-item.e-select.e-selected.e-expand-state > .e-acrdn-header,
    .e-accordion .e-acrdn-item.e-select.e-expand-state > .e-acrdn-header {
        text-align: left;
    }
    .e-accordion .e-acrdn-item.e-select.e-selected.e-expand-state > .e-acrdn-header .e-acrdn-header-icon,
    .e-accordion .e-acrdn-item.e-select.e-selected.e-expand-state > .e-acrdn-header .e-acrdn-header-content,
    .e-accordion .e-acrdn-item.e-select.e-expand-state > .e-acrdn-header .e-acrdn-header-icon,
    .e-accordion .e-acrdn-item.e-select.e-expand-state > .e-acrdn-header .e-acrdn-header-content {
        color: #000;
    }
    .e-listview:not(.e-list-template) .e-list-item {
        height: auto;
        padding: 15px 0;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
    }

    .conversation_panel_row {
        .clearfix.e-list-wrapper.e-list-multi-line.e-list-avatar {
            display: flex;
            width: 100%;
            align-items: center;
        }

        .recipient-wrap {
            width: 100%;
            display: flex;
        }

        .recipient-recent-icon {
            padding: 0 5px;
        }

        .recipient-recent-txt {
            padding: 0 7.5px;
            p {
                line-height: 1.2;
                text-align: left;
            }
            .granted-txt {
                color: $primaryColor;
            }
        }

        .recipient-event {
            padding: 0 15px;
            span {
                padding: 0 7.5px;
            }
        }

        .recipient-name h3 {
            margin: 0;
            padding-left: 7.5px;
        }
    }
}
.conversation-sort-wrap p {
    font-size: 12px;
    line-height: 12px;
    float: left;
    padding: 15px 0 15px 15px;
    cursor: pointer;
}

.conversation-sort-wrap {
    width: calc(100% - 0px);
    // width: calc(100% - 40px);
    float: left;
    border-bottom: 1px solid;
    // margin: 0 20px;
    i {
        margin-left: 5px;
        display: none;
    }
    .active-sort {
        color: $primaryColor;
        i {
            display: initial;
        }
    }
}

.conversation-sort-wrap p:first-child {
    padding-left: 0;
}
.conversation-navbar {
    width: 100%;
    float: left;
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    li {
        float: right;
        font-size: 12px;
        padding: 0 7.5px;
        color: $primaryColor;
        cursor: pointer;
        i {
            margin-right: 8px;
        }
    }
}
.conversation-wrap{
.e-listview .e-list-item.e-hover,
.e-listview .e-list-item.e-hover.e-active.e-checklist {
    background: #f4fbfe;
}
.e-splitter.e-splitter-horizontal, .e-splitter.e-splitter-vertical{
    border: none;
}}
.conversation-wrap {
    padding: 30px;
}